@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, *#root* {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
  body {
    background-image:
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNzI4cHgiIHdpZHRoPSI5NjFweCI+CiAgICA8ZmlsdGVyIGlkPSJncmFpbnkiPgogICAgICAgIDxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIwLjgiLz4KICAgICAgICA8ZmVDb21wb3NpdGUgb3BlcmF0b3I9ImluIiBpbjI9IlNvdXJjZUdyYXBoaWMiIHJlc3VsdD0ibW9ub05vaXNlIi8+CiAgICA8L2ZpbHRlcj4KICAgIDxwYXRoIGQ9Ik03Ni41IDM2MS41Qy0xNC45NzUzIDI3Mi4wMjIgNTkuNDYzNCAyMTMuOTkxIDEwOC4zIDE5Ni4wNzNDMTA0LjcxMSAxOTcuMjc2IDg1LjAyODYgMTk4Ljg0NiAzMi41IDE5NkMtMzQuNSAxOTIuMzcgOS45OTk5OCAxMzUuNSAxMDguNSAxNzJDMjA3IDIwOC41IDE2NC41IDg2IDQ0NS41IDE4LjVDNzI2LjUgLTQ5IDQ1NyA4OC41IDM5MS41IDI1Mi41QzMyNiA0MTYuNSA1NDEgMjYwLjUgNjE3LjUgNDIzQzY5NCA1ODUuNSA0NzYuNSA1MDggMzU4LjUgNTcxQzI0MC41IDYzNCAxOTEgNDczLjUgNzYuNSAzNjEuNVoiIGZpbHRlcj0idXJsKCNncmFpbnkpIiBmaWxsPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpIi8+Cjwvc3ZnPg=="),
      linear-gradient(to bottom, #BBE1C3 33%, #DF9B6D , #A6979C);
    background-attachment: fixed;
    opacity: 79%;
  }
 
  *#root* {
    display: flex;
    flex-direction: column;
  }
}